* {
  font-family: "Lora", serif;
}

tr {
  table-layout: fixed;
  overflow-x: auto;
}
td {
  word-wrap: break-word;
}

.centered-form {
  border-radius: 20px;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(82, 184, 252);
  padding: 10px;
}
.centered-title {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  color: #002f6c;
}
.left-title {
  margin: 2rem auto;
  color: #002f6c;
}

.question-subtitle {
  color: #6c757d;
  font-size: 0.9em !important;
  margin-top: auto !important;
  font-style: italic;
}

.question-subtitle span {
  font-style: normal;
}
.card-title.h5 {
  margin-bottom: 0.1% !important;
  color: #0d47a1;
}
.card {
  margin-bottom: 0.2%;
}
.card:hover {
  background-color: #e3f2fd;
}
.MuiPagination-root.my-3 {
  margin: 0 !important;
}

/* style for editor */
.wrapper-class {
  padding: 0.5%;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: rgb(253, 253, 253);
  padding: 1%;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.rdw-editor-main {
  /* height: 100%; */
  height: auto !important;
}

/* end style for editor */

.validation-message {
  color: red;
}
button.list-group-item.list-group-item-info.list-group-item-action {
  font-size: 1.2em;
  font-weight: bold;
  background: #e3f2fd;
  border: none;
  border-radius: 25px;
}

.MuiTab-textColorPrimary.Mui-selected {
  background: #e8eaf6;
  font-weight: bold;
}

.list-group-item.list-group-item-info.list-group-item-action {
  text-align: center;
}
